.notFound {
  text-align: center;
  padding: 50px 0;
}

.notFound h1 {
  font-size: 6rem;
  color: #3498db;
  margin-bottom: 10px;
}

.notFound h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.notFound p {
  color: #7f8c8d;
  margin-bottom: 30px;
  font-size: 1.1rem;
}
