.progressChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.progressChart {
  position: relative;
  width: 120px;
  height: 120px;
}

.percentage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2c3e50;
}

.legend {
  margin-top: 10px;
  font-size: 1rem;
  color: #7f8c8d;
}
